{% load staticfiles %}
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link active" href="#panel-1" data-toggle="tab">Рецепты</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#panel-2" data-toggle="tab">Мои рецепты</a>
	</li>
	<li class="nav-item dropdown ml-md-auto">
			<a class="nav-link dropdown-toggle" href="{% url 'auth:login' %}" id="navbarDropdownMenuLink" data-toggle="dropdown">Войти</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="#">Редактировать рецепты</a> 
			<div class="dropdown-divider"></div> 
			<a class="dropdown-item" href="{% url 'auth:logout' %}">Выход</a>
		</div>
	</li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="panel-1">
		<p>
			<br>
			Список всех рецептов. Рецепты можно искат по хештегам и параметрам
		</p>
	</div>
	<div class="tab-pane" id="panel-2">
		<p>
			<br>
			Список своих рецептов. Для добавления и работы с ними необходимо войти или зарегистрироваться
		</p>
	</div>
</div>

