{% extends 'recipesapp/main.html' %}
{% load staticfiles %}

{% block center %}
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" id ="typeof_menu_item_-1" href="{% url 'recipes:all' %}">всё</a>
  </li>
   {% for item in typeof_choices %}			
  <li class="nav-item">
    <a class="nav-link" id ="typeof_menu_item_{{item.0}}" href="{% url 'recipes:all_typeof' item.0 %}">{{item.1}}</a>
  </li>
  {% endfor %}
</ul>

<script>
$("#typeof_menu_item_{{typeof_menu_item}}").addClass("active")
</script>

<br />
<div class="container-fluid border">
{% for article in object_list %}
{% if forloop.counter0|divisibleby:3 %}<div class="card-deck">{% endif %}
		<div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top rounded float-left" src="/media/{{article.img_small}}" alt="{{article.name}}">
            <div class="card-body" style="height: 10rem;">
              <h4 class="card-title">{{article.name}} {{article.get_typeof_str}}</h4>
              <p class="card-text">{{article.description_short}}</p>
            </div>
            <div class="card-footer">
              <a href="{% url 'recipes:recipe' article.pk %}" class="btn btn-link">Открыть...</a>
			  <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
		</div>
{% if forloop.counter|divisibleby:3 or forloop.last %}</div><br />{% endif %}
{% empty %}
	<h3>Пусто :(</h3>
{% endfor %}
</div>
{% endblock %}


<div class="container-fluid border">
{% for article in object_list %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top rounded float-left" src="/media/{{article.img_small}}" alt="{{article.name}}">
            <div class="card-body" style="height: 10rem;">
              <h4 class="card-title">{{article.name}} {{article.get_typeof_str}}</h4>
              <p class="card-text">{{article.description_short}}</p>
            </div>
            <div class="card-footer">
              <a href="{% url 'recipes:recipe' article.pk %}" class="btn btn-link">Открыть...</a>
			  <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
{% empty %}
	<h3>Пусто :(</h3>
{% endfor %}
</div>