{% extends 'recipesapp/main.html' %}
{% load staticfiles %}

{% block center %}
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" id ="typeof_menu_item_-1" href="{% if my %}
															{% url 'recipes:my' %}
														{% else %}
															{% url 'recipes:all' %}
														{% endif %}">всё</a>
  </li>
   {% for item in typeof_choices %}
  <li class="nav-item">
    <a class="nav-link" id ="typeof_menu_item_{{item.0}}" href="{% if my %}
															{% url 'recipes:my' item.0 %}
														{% else %}
															{% url 'recipes:all' item.0 %}
														{% endif %}">{{item.1}}</a>
  </li>
  {% endfor %}
</ul>

<script>
	$("#typeof_menu_item_{{typeof_menu_item}}").addClass("active")
</script>

<br />
<div class="container-fluid border">
{% for item in object_list %}
{% if forloop.counter0|divisibleby:3 %}<div class="card-deck">{% endif %}
		<div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <a href="{% url 'recipes:recipe' item.pk %}">
				<img class="card-img-top rounded float-left" src="/media/{{item.img_small}}" alt="{{item.name}}"/>
				</a>
            <div class="card-body" style="height: 10rem;">
                <h4 class="card-title">{{item.name}} - {{item.get_typeof_str}}</h4>
                <p class="card-text">{{item.description_short}}</p>
            </div>

            <div class="card-footer d-flex">
              <div class="item">
              <a class ="item_href" href="{% url 'recipes:like'%}"><small class="p-2 far fa-thumbs-up", id="{{item.pk}}"></small></a>
              </div>
			  <small class="p-2 ml-auto">Обновлено: {{item.update_date|date}}</small>
            </div>
          </div>
		</div>
{% if forloop.counter|divisibleby:3 or forloop.last %}</div><br />{% endif %}
{% empty %}
	<h3>Пусто :(</h3>
{% endfor %}
</div>

<script>
    $('.item .item_href').each(function () {
        $(this).click(function( event ) {
          event.preventDefault();
        });
    });

    $('.item small').each(function () {
        $(this).click(function () {
            var id_val = $(this).attr('id') 
            $.ajax({
                type: 'post',
                url: '/recipes/like/',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': id_val},
                success: function (data, textStatus) { 
                    var item = $('.item #' + id_val);
                    item.text(data.count.toString());
                    console.log(item.attr('id'));
                }
            });
        });
    });

 </script>
{% endblock %}

var csrfmiddlewaretoken = {{ csrf_token }}