{% extends 'recipesapp/main.html' %}
{% load staticfiles %}

{% block center %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-5 col-md-5 mb-5">

		<form class="form-signin" action="" method="post">
			{% csrf_token %}
			{% for item in form %}
			<div class="form-group">
				<label for="{{item.label}}">{{item.label}}:</label>
				{{ item }}
				{% if item.errors %}
					<div class="form-group has-errors text-danger small">
					{{item.errors}}
					</div>
				{% endif %}
			</div>
			{% endfor %}
			<button class="btn btn-primary" style="width:100%">{% if registration %}Зарегистрироваться{% else %}Войти{% endif %}</button>
			{% for error in form.non_field_errors %}
				<div class="form-group has-errors text-danger small">
					{{error}}
				</div>
			{% endfor %}

		</form>
		</div>
	</div>
</div>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrfmiddlewaretoken = getCookie('csrftoken')
    $('.item .item_href').each(function () {
        $(this).click(function( event ) {
          event.preventDefault();
        });
    });

    var $item = $('.item h4')
    var id_val = $item.attr('id')
    var post_data = { 'csrfmiddlewaretoken': csrfmiddlewaretoken, 'id': id_val } 
    var get_data = { 'id': id_val } 

    $.get("/recipes/like/", get_data, function(data) {
        $item.text(' ' + data.count.toString());
    });

    $item.click(function () {
        $.ajax({
            type: 'post',
            url: '/recipes/like/',
            data: {'csrfmiddlewaretoken': csrfmiddlewaretoken, 'id': id_val},
            success: function (data, textStatus) { 
                $item.text(' ' + data.count.toString());
            }
        });
    });

 </script>
{% endblock %}