{% extends 'recipesapp/main.html' %}
{% load staticfiles %}

{% block center %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="d-flex border">
                <h4 class="p-2">{{item.name}}</h4>
                <div class="item ml-auto p-2">
                    <a class ="item_href" href="{% url 'recipes:like'%}">
                    <h4 class="far fa-thumbs-up" id="{{item.pk}}">{{item.likes}}</h4>
                    </a>
                </div>
            </div>
            {% for ht in hashtag %}

            {% if forloop.first %}  
                <div class="row container-fluid">
            {% endif %}
            
            <h6><a href ="/recipes/filter?type=hashtag&val={{ht.pk|urlencode}}"> #{{ht.name}}</a></h6>       

            {% if forloop.last %}  
                </div>
            {% endif %}

            {% endfor %}

			<a href="{% url 'recipes:recipe' item.pk %}">
				<img class="card-img-top rounded float-left" src="/media/{{item.img_big}}" alt="{{item.name}}"/>
			</a>
			<br/>
			<br/>
			<p class="text-justify">{{item.description}}</p>
			<small class="text-muted">Обновлено: {{item.update_date|date}}</small>


		</div>
		<div class="col-lg-6 col-md-6 mb-6">
			<h4>Шаги приготовления</h4>
			<div class="card">
			<a href="{% url 'recipes:recipe' item.pk %}">
				<img class="card-img-top rounded float-left" src="/media/{{item.img_small}}" alt="{{item.name}}"/>
			</a>
			<div class="card-body" style="height: 10rem;">
				<h4 class="card-title">{{item.name}} {{item.get_typeof_str}}</h4>
				<p class="card-text">{{item.description_short}}</p>
			</div>
			<div class="card-footer">
				<a href="{% url 'recipes:recipe' item.pk %}" class="btn btn-link">Открыть...</a>
				<small class="text-muted">Last updated 3 mins ago</small>
			</div>
			</div>
		</div>
	</div>
</div>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrfmiddlewaretoken = getCookie('csrftoken')
    $('.item .item_href').each(function () {
        $(this).click(function( event ) {
          event.preventDefault();
        });
    });

    var $item = $('.item h4')
    var id_val = $item.attr('id')
    var post_data = { 'csrfmiddlewaretoken': csrfmiddlewaretoken, 'id': id_val } 
    var get_data = { 'id': id_val } 

    $.get("/recipes/like/", get_data, function(data) {
        $item.text(' ' + data.count.toString());
    });

    $item.click(function () {
        $.ajax({
            type: 'post',
            url: '/recipes/like/',
            data: {'csrfmiddlewaretoken': csrfmiddlewaretoken, 'id': id_val},
            success: function (data, textStatus) { 
                $item.text(' ' + data.count.toString());
            }
        });
    });

 </script>
{% endblock %}