{% extends 'mainapp/index.html' %}
{% load staticfiles %}

{% block center %}

<div class="row" id="center">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<p><h4>{{form_title}}:</h4></p>
		
		<form class="form-signin" action="
		{% if registration %}
			{% url 'auth:registration' %}"
		{% else %}
			{% url 'auth:login' %}"
		{% endif %}
		method="post">

			{% csrf_token %}
			{% for item in form %}
			<div class="form-group">
				<label for="{{item.label}}">{{item.label}}:</label>
				{{item}}
			</div>
			{% endfor %}
			<button class="btn btn-primary" style="width:100%">{% if registration %}Зарегистрироваться{% else %}Войти{% endif %}</button>
			{% for error in form.non_field_errors %}
				<div class="form-group has-errors text-danger small">
					{{error}}
				</div>
			{% endfor %}
		</form>
		Нет аккаунта? <a href="{% url 'auth:registration' %}">Зарегистрироваться</a>
	</div>
</div>
{% endblock %}