{% load staticfiles %}
<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'recipes:all' %}">Рецепты</a>
      </li>
	  {% if is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'recipes:my' %}">Мои рецепты</a>
      </li>
	  {% endif %}
	</ul>  
	<ul class="nav navbar-nav navbar-right">
	{% if is_authenticated %}
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Настройки
    </a>
    <div class="dropdown-menu navbar-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Редактировать рецепты</a>
        <a class="dropdown-item" href="{% url 'auth:room' %}">Личный кабинет</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'auth:logout' %}">Выход</a>
    </div>
    </li>
	{% else %}
	<li><a class="nav nav-pills" href="{% url 'auth:login' %}" id="nav-link"><span class="glyphicon glyphicon-log-in"></span>Войти</a></li>
	{% endif %}
    </ul>
  </div>
</nav>
